[Unit]
Description=HT301 Driver
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/pi/OpenHD_HT301_Driver/ht301_driver.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
