[Unit]
Description=HT301 Driver
After=multi-user.target

[Service]
Type=simple
ExecStart=/home/pi/OpenHD_HT301_Driver/ht301_driver.py
WorkingDirectory=/home/pi/OpenHD_HT301_Driver
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=ht301driver
Restart=always

[Install]
WantedBy=multi-user.target
